#General ignored files
FarmTypeManager/data/
CJBCheatsMenu/config.json
NPCMapLocations/config/
#Farmer ignored files
*Andrey
Andrey*
*Andrey*
*Zorall
Zorall*
*Zorall*
#Farm ignored files
*Communism
Communism*
*Communism*
*meow
meow*
*meow*
